<h1>Rainforest</h1>
<p>See all products here!</p>
<% @products.each do |product|%>
  <p>Product Name: <%= @product.name %></p>
  <p>Product Description: <%= @product.description %></p>
  <p>Price: <%= (@product.price_in_cents)*100 %></p>
<% end %>

